.archive {
    li.item {
        float: left;
        width: 50%;
        @include box-sizing(border-box);
        
        &.-even { padding-left: 50px; }
        &.-odd  { padding-right: 50px; clear: left; }
    }
    
    &.-bigfirst li.item {
        padding: 0;
        clear: none;
                
        &.-even { padding-right: 50px; clear: left; }
        &.-odd  { padding-left:  50px; }
    
        &:first-child { 
            float: none;
            width: auto;
            padding: 0;
        }
    }
    
    &[max-width~="900px"] li.item { float: none !important; padding: 0 !important; width: auto !important; }
}

.archive-by-month {
    @extend %misty-box;
    padding: .5em 1em;
    margin-bottom: 40px;
    
    h2 { margin: 0 0 0.5em; padding: 0 0 0.3em; border-bottom: 1px solid rgba(0,0,0,.1); }
    a { font-weight: bold; }
    
    ol {
        display: block; 
        
        li { margin: 0 0 0.2em; }
        
        ol { margin: .2em 0 0 .5em; }
        li li {
            font-weight: normal;
            float: left;
            border-right: 1px solid rgba(0,0,0,.2);
            margin: 0 .5em 0 0;
            padding: 0 .5em 0 0;
            
            &:last-child { margin: 0; padding: 0; border: 0; }
            
            a { font-weight: normal; }
        }
    }
}