aside.media {
    margin-bottom: 20px;
    
    p { margin: 0; font-size: 0.9em; color: #222; }
    
    // general float styles
    &.-left   { margin-right: 20px; float: left; clear: left; }
    &.-right  { margin-left:  20px; float: right; clear: right; }
    &.-center { clear: both; }
    
    &.-general {
        .i {
            padding: 10px;
            background: #FFF; 
            outline: 1px solid #e3e3e3;
        }
        p { margin-top: .1em; }
        &.-center { text-align: center; .i { display: inline-block; text-align: left; }}
    }
    
    &.-responsive {
        padding: 10px;
        background: #FFF;
        outline: 1px solid #e3e3e3;
        p { margin-top: 0.5em; }
        
        &.-left, &.-right { width: 46%; @include box-sizing(border-box); }
    }
}

.resimg {
    background-position: center center;
    background-size: auto 100% !important;
    background-repeat: no-repeat;
    
    img { display: block; opacity: .000001; }
    
    &.-left  { background-position: center left; }
    &.-right { background-position: center right; }
}

