- if comment.screened
  = link_to_with_icon 'unscreen', screen_comment_path(comment, 0), 'eye-slash', :data => { :'comments-action' => :screen }, :class => 'u-btn u-btn--action'
- else
  = link_to_with_icon 'screen', screen_comment_path(comment, 1), 'eye', :data => { :'comments-action' => :screen }, :class => 'u-btn u-btn--action'
