%h1.cr-page__title
  Comments on
  = link_to @article.title, @article, :rel => "back"

= render :partial => 'articles/preview', :locals => { :article => @article }

= render :partial => 'articles/comments'
