%tr
  %th{ :scope => 'col' }= sortable('title')
  %th{ :scope => 'col' }= sortable('date')
  %th{ :scope => 'col', :class => 'small' }=  sortable('num_comments', 'Comments')
  %th{ :scope => 'col', :class => 'small' }=  sortable('published')
  %th{ :scope => 'col', :class => 'act' }
