%h1.u-a11y.cr-page__title  Home
%section.c-archive.is-primary.cf
  - idx = 0
  %ol.c-archive__articles
    - @articles.each do |article|
      %li.c-archive__item
        = render :partial => 'preview', :locals => { :article => article, :full => (idx == 0) }
        - idx += 1
