%h1 Dashboard

= render :partial => 'admin/common/status'

.grid.-two-col.-left.cf
  .col
    %section#drafts.widget.-dynamic{ :data => { :src => admin_drafts_feed_path }}
      %header
        %span.icons
          %span
            = link_to '', new_admin_article_path, :class => 'icon -fixed-width -plus'
        %h2.icon.-edit.-fixed-width Drafts
      .content
        %p.loading  Loading…
        
    %section#latest-articles.widget.-dynamic{ :data => { :src => admin_articles_feed_path }}
      %header
        %h2.icon.-book.-fixed-width Latest articles
      .content
        %p.loading  Loading…

  .col
    %section#latest-comments.widget.-dynamic
      %header
        %h2.icon.-comments.-fixed-width Latest comments
      .content
        %p.blah Not implemented yet :)