@include font-face('FontAwesome', 'fontawesome', normal, $asset_pipeline:true);

body {
    font: normal 1em/1.4em $bodyFont;
    background: #F8F8F8;
    color: $body;
}

.cf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a {
    color: $body; 
    text-decoration: none; 
    
    main & { text-decoration: underline; }
}

p { margin: 0 0 1em; }
strong { font-weight: bold; }
small { font-size: 0.82em; line-height: 1.5em; }
.a11y { position: absolute; visibility: hidden; }

%lno { list-style: none; margin: 0; padding: 0; li { margin: 0; padding: 0; }}

%subnav {
    height: 2.65em;
    line-height: 2.65em;
    border-top-left-radius: 15px;
    margin: 0 -25px;
    padding: 0 25px;
    @include linear-gradient(#888, #AAA 60%, #A0A0A0);
    strong, ul, li { display: inline-block; }
    
    strong,li { margin-right: .9375em; }
    
    strong { font-weight: bold; border-right: 1px solid rgba(0,0,0,0.1); padding-right: .9375em; }
    strong, a, li { color: #FFF; text-shadow: rgba(0,0,0,0.3) 0 3px 3px; }
    
    a { text-decoration: none; &:hover { text-decoration: underline; }}
}
i.fa { margin-right: .3em; }