$bodyFont: "Helvetica Neue", Helvetica, Arial, sans-serif;

$body: #333;

// UI stuff
$uiBorder:  #bbb;

// primary alerts
$ifNeutral: #666;
$ifNotice:  #2d8aeb;
$ifInfo:    #05a705;
$ifWarn:    #ff8c1b;
$ifError:   #ff4c38;