%article.o-content.-page{ :id => "page-#{@page.id}" }
  - unless @page.masthead.nil?
    = render :partial => 'application/masthead', :locals => { :media => @page.masthead }
  %header.o-content__header
    %h1.o-content__title.cr-page__title=  @page.title

  .o-content__content.u-type
    ~ process_media(@page.body_rendered).html_safe
