$ns: "c-archive";
.#{$ns} {
	// basic styles
	&__item {
		margin-bottom: rem(60);
	}

	// hacks for large desktop
	@media screen and (min-width: $bpDesktop)
	{
		// primary version
		&.is-primary {
			.#{$ns}__item {
				&:nth-child(n+2) {
					float: left;
					width: calc(50% - #{rem(30.1)});
				}
				&:nth-child(2n) { margin-right: rem(60); clear: left; }
			}
		}

		// non-primary version
		&:not(.is-primary) {
			.#{$ns}__item {
				float: left;
				width: calc(50% - #{rem(30.1)});

				&:nth-child(2n+1) { margin-right: rem(60); clear: left; }
			}
		}
	}

}
