$ns: 'c-comments';
.#{$ns} {
	a { @extend %bodyLink; }

	&__header {
		@include clearfix();

		margin-bottom: rem(30);
		text-align: right;

		&__title { float: left; }
	}

	&__list__item:nth-child(n+2) {
		margin-top: rem(30);
	}

	&__empty {
		opacity: .5;

		@include fsz(secondaryHeader);
		text-align: center;

		@include transition(opacity .5s);

		&:hover { opacity: 1; }
	}

	&__prompt {
		margin: rem(30) 0;
		padding: rem(7.5) rem(14);

		background: rgba(255,255,255,.2);

		@include fsz(small);
	}
}
