%tr
  %th{ :scope => 'col' }= sortable('title')
  %th{ :scope => 'col' }= sortable('created_on', 'Uploaded')
  %th{ :scope => 'col', :class => 'small' }= sortable('media_type', 'Type')
  %th{ :scope => 'col', :class => 'act' }
