input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

$defaultFormIndent: 150;
$defaultFormGutter: 20;

input[type=text],
input[type=email],
input[type=password],
input[type=date],
input[type=datetime],
input[type=number],
textarea,
select { font-size: 1em; font-family: $bodyFont; }

form {
    padding: 10px 15px;
    background: #FFF;
    border: 1px solid $uiBorder;
    margin: 0 0 20px;
    &>h2,
    header {
        @include linear-gradient(#eee,#e0e0e0);
        border-bottom: 1px solid #bbb;
        margin: -10px -15px 20px; 
        position: relative; 
        padding: 10px 15px;
    }
    h2 { font-size: 1em; }
    
    ol, ul { @extend %lno; }
    
    label,.pseudoLabel {
        display: block;
        float: left; 
        margin-left: -#{$defaultFormIndent}px;
        width: #{$defaultFormIndent - $defaultFormGutter}px;
        text-align: right;
        margin-top: 0.4em;
    }
    
    li.fieldset li,
    &>ol>li,
    .pseudoLi {
        margin: 0 0 1.5em 0;
        padding-left: #{$defaultFormIndent}px;
    }
    
    // inputs
    input[type=text],
    input[type=email],
    input[type=password],
    textarea,
    select {
        border: 1px solid $uiBorder;
        border-radius: 3px;
        height: 1.9em;
        line-height: 1.9em;
        padding: 0 0.5em;
        background: #FFF;
        @include linear-gradient(transparent 40%, rgba(0,0,0,.05));
        width: 30%;
        max-width: 300px;
        min-width: 200px;
        @include box-sizing(border-box);
        
        &:focus { outline: 0; border-color: $ifNotice; }
        
        &.tiny   { width: 3em; min-width: auto; }
        &.small  { width: 100px; min-width: auto; }
        &.medium { width: 50%; max-width: 500px; min-width: 300px; }
        &.large  { width: 90%; max-width: 1000px; min-width: 400px; }
        
        &[disabled] { border-color: lighten($uiBorder, 15%); }
        &[readonly] { border-color: transparent; }
    }
    textarea {
        height: 8em;
        &.tiny  { height: 3em; width: 5em; }
        &.small { height: 5em; width: 150px; }
        &.medium { height: 10em; }
        &.large { height: 12em; }
        &.huge  { height: 20em; width: 90%; max-width: none; }
    }
    small {
        font-size: 0.91em;
        display: inline-block;
        margin-top: 0.5em;
        color: lighten($body, 20%);
    }
    select {
        width: auto;
        max-width: auto;
        font: 1em $bodyFont;
    }
    select[multiple] {
        padding: 0.25em 0;
        line-height: 1em;
        height: 8em;
    }
    
    li.check {
        label { width: auto; float: none; text-align: left; margin-left: 0; }
        input { float: left; margin-left: -2em; }
        small { margin-top: 0; }
    }
    
    li.fieldset {
        padding: 0;
        margin: 0;
        fieldset {
            margin: 0;
            padding: 0;
            border: 0;
        }
        h2,h3 { font-size: 1.3em; line-height: 1em; margin: 0 0 1em; border-bottom: 1px solid #CCC; padding-bottom: 0.5em; }
        &.-inline {
            ul { padding-left: #{$defaultFormIndent}px; }
            li { display: inline-block; padding: 0; width: 20%; min-width: 100px; margin-right: 1em; }
            label { padding-left: 0; }
        }
    }
    
    // error messaging
    li.error {
        input[type=text],
        input[type=email],
        input[type=password],
        textarea { border-color: $ifError; }
        
        em.error {
            font-size: 0.91em;
            display: block;
            @extend %icon;
            @extend .icon.-warning-sign;
            color: darken($ifError, 30%);
            margin-top: 0.3em;
        }
        
        &.text em.error { margin-top: 0.5em; }
        
    }
    
    // button bar
    .buttons {
        margin: 1em -15px -10px;
        padding: 20px 15px;
        background: #F1F1F1;
        border-top: 1px solid #CCC;
        padding-left: #{$defaultFormIndent + 15}px;
    }
    
    &.-user {
        @include border-bottom-radius(5px);
        font-size: 1.3em;
        li { padding-left: 0; margin: 0 0 0.5em; }
        label { float: none; width: auto; margin: 0;}
        input[type=text],
        input[type=password] {
            width: 100%;
            max-width: 100%;
        }
        small { margin-top: 0.2em; font-size: 0.75em; text-align: right; display: block; a { color: $ifNotice; }}
        li.check {
            margin-bottom: 30px;
            input { float: none; margin: 0 1em 0; }
        }
        button { width: 100%; padding: 0.5em 0; }
    }
}