@import "bourbon";
@import "ext/reset";
@import "admin/base/colours";

.grid {
    .col { @include box-sizing(border-box); }
    
    &.-two-col,
    &.-three-col {
        .col {
            float: left;
            padding: 0 15px;
            &:first-child { padding-left:  0; }
            &:last-child  { padding-right: 0; }
        }
    }
    
    &.-two-col {
        .col { width: 50%; }
        &.-left  .col:nth-child(1),
        &.-right .col:nth-child(2) { width: 66%; }
        &.-left  .col:nth-child(2),
        &.-right .col:nth-child(1) { width: 34%; }
    }
}

@import "admin/base/fonts", "admin/base/base", "admin/base/mixins", "ext/fontawesome", "admin/base/animations";
@import "admin/design";
@import "admin/mod/*";
@import "ext/lightbox";

.lb-container {
    .lb-wrapper { border-radius: 10px; }
    .lb-wrapper>h2 {
        @include interface-bar-colour-set($ifNotice);
        text-shadow: rgba(0,0,0,0.3) 0 -1px 1px;
        color: #FFF;
        font-weight: bold;
        padding: 7px 15px;
        @include border-top-radius(10px);
    }
}