%p
  You currently have two-factor authentication <strong>turned on</strong>. If you wish to disable it, please click
  ‘disable’ below. You may re-enable it any time.
  
= link_to 'Disable', admin_twofa_disable_path, :method => :post, :class => 'button -primary -centred'
