// basics
.cf:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.a11y { position: absolute; height: 0; width: 0; overflow: hidden; opacity: .00001; }

// containers and dimensions
html,body { height: 100%; }

html { font-size: #{$base-font/16}em; }
body {
    font: $base-weight 1em/1.5em $bodyFont;
    background: $bg asset_url('bg.png', image);
    color: #444;
}
#container { min-height: 100%; position: relative; padding-bottom: 3em; @include box-sizing(border-box); }

header.chrome .i,
footer.chrome .i,
main { 
    margin: 0 auto;
    max-width: 1050px;
}

i.fa { margin-right: .2em; }

// links
a {
    text-decoration: none;
    @include transition(color 150ms);
    
    main & { color: $link; &:hover { text-decoration: underline; color: lighten($link, 10%); }}
    
    .chrome & { color: #000; &:hover { color: darken($link, 5%); }}
}

// chrome
.chrome { color: #000; background: #FFF; }

header.chrome {
    border-top: .75em solid #000;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 0 0 2.5em;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 0;
    
    h1 { margin: .1em 0 0; float: left; font: $bold-weight 1.4em/1.96em $bodyFont; }
    
    nav {
        padding-bottom: 10px;
        float: right;
        li {
            float: left;
            border-right: 1px solid rgba(0,0,0,.1);
            &:last-child { border-right: 0; }
        }
        a {
            display: block;
            padding: .75em .75em .5em;
            position: relative;
            
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: -.25em;
                left: 0;
                right: 0;
                height: .25em;
                background: #000;
                @include transition(transform 150ms);
            }
            &:hover:before,
            &.current:before { @include transform(translateY(100%)); }
        }
    }
}
footer.chrome {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: rgba(255,255,255,.6) 0 -1px 0 0;
    font-size: .8em;
    text-align: right;
    text-shadow: rgba(0,0,0,.2) 0 0 1px;
    padding: .625em;
    
    strong { font-weight: $base-weight; }
    p,ul,li { display: inline; margin: 0; }
    p { 
        float: left;
        margin: 0; 
        strong:after { content: ":: "; font-weight: $base-weight; padding: 0 .5em; }
    }
    li {
        margin-left: .5em;
        &:before { content: "- "; padding-right: .5em; }
        &:first-child:before { content: ""; padding: 0; }

        a:before { color: #444; }
        
        &.t i { color: #4099FF; }
    }
}

// other stuff
p.prompt {
    background: rgba(255,255,255,.4);
    border: 1px solid #d8d8d8;
    padding: .5em;
    font-size: .8em;
    line-height: 1em;
    margin: 0 0 1.4em;
}

p.error {
    border: 1px solid #F00;
    color: #F00;
    border-radius: .25em;
    padding: .5em;
    line-height: 1em;
    margin: 0 0 1em;
}
