h1 { margin: 0 0 1em;   font: $bold-weight 1.8em/1.2em $headerFont; }
h2 { margin: 1.5em 0 0; font: $bold-weight 1.2em/1.2em $headerFont; }
h3 { margin: 1.5em 0 0; font: $bold-weight   1em/1.2em   $headerFont; }

blockquote { margin: 1em 1.5em; }

small {
    font-size: .8em;
    &.very { font-size: .6em; }
}

b,strong { font-weight: $semi-weight; }
i,em     { font-style:  italic; }

.type {
    p { margin: 1em 0; &.-extra { margin-top: 1.5em; }}
    
    ul,ol { margin: 0 0 1em 1.8em; }
    ul { list-style: disc outside; }
    ol { list-style: decimal outside; }
        
    div.hr {
        clear: both;
        &:before {
            display: block;
            content: "* * *";
            text-align: center;
            color: #CCC;
            font: bold 1em/.7em Georgia,"Times New Roman",Times,serif;
        }
        hr { display: none; }
    }
    
    &.-article, &.-page { blockquote { @extend %misty-box; }}
}

dl.kv-pair {
    dd,dt,ul,li { display: inline-block; }
    dt { margin-right: .5em; }
    dd { margin-right: 1.5em; }
}