- link ||= nil
- if link.nil?
  .masthead.resimg{ :style => "background-image: url('#{media_path(media)}');", :class => " -#{media.default_align}", :data => { :"media-id" => media.id }}
- else
  %a.masthead.resimg{ :style => "background-image: url('#{media_path(media)}');", :class => " -#{media.default_align}", :data => { :"media-id" => media.id }, :href => link }