- link ||= nil
- if link.nil?
  .o-content__masthead{ :style => "background-image: url('#{media_path(media)}');", :class => " -#{media.default_align}", :data => { :"media-id" => media.id, :behaviour => "responsive-media" }}
- else
  %a.o-content__masthead{ :style => "background-image: url('#{media_path(media)}');", :class => " -#{media.default_align}", :data => { :"media-id" => media.id, :behaviour => "responsive-media" }, :href => link }
