%h1 Hmmm…

.type 
  %p
    So, uhh… there’s a chance you’ve gotten here because something’s gone wrong somewhere along the lines.

  %p
    However, chances are you’ve wound up here because you’re attempting to do something you probably shouldn’t—bad
    visitor, no cookie for you.
    
  %span.split
  
  %p
    In either case, I’d suggest liberal use of your ‘back’ button…
    
  %p.-extra
    %small  Error 403