%h1 Oh noes!

.type
  %p
    Well, um… this is kinda embarassing: it looks like the page you’re after has gone walkies, or possibly hasn’t even
    been created yet…
    
  %p
    Chances are this probably isn’t your fault, and someone else has pressed the wrong button somewhere. In any case,
    your best bet is to use your browsers ‘back’ button to return whence you came.
    
  %p.-extra
    Or, um, now you’re here, you could even <a href="/">have a look around</a>—who knows, you might find something cool…
  
  %p
    %small sorry!